* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 210mm;
  height: 280mm;
  padding: 4rem 3.5rem;
}
.section-block {
  margin: 0 auto;
  padding: 1.5rem 0;
  border-bottom: 1px solid gray;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  padding-bottom: 1.5rem;
}

.contact {
  padding: 0.1rem 0;
}
.contact-key {
  font-weight: bold;
  margin-right: 6px;
}
.section {
  display: flex;
}
.section-heading {
  display: flex;
  text-transform: capitalize;
  width: 16%;
  margin-right: 1.5rem;
}
.section-title {
  font-size: 1.2rem;
}
.section-children {
  margin-left: 1rem;
  width: 82%;
}
.experience-heading {
  display: flex;
  justify-content: space-between;
}
.experience-heading:first-child {
  margin-bottom: 1rem;
}
.role {
  font-weight: bold;
}
.org {
  font-weight: normal;
  margin-left: 0.4rem;
}
.bold {
  font-weight: bold;
}
.duty-list {
  margin-left: 1rem;
}
